* {
    font-family: 'Roboto Slab', serif;
   
}

img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
    
}

html, body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #630525;
}

body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #350314;
    color: white;
}

.box {
    border: 1px white solid;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    height: 33%;
    font-size: 7vmin;
    color: white;
    display: inline-block;
    line-height: 425%;
    background-color: #630525;
}

.container-fluid {
    height: 100%;
}

.row + .row {
   border-top:0;
}


.row {
    margin: 0;
    height: 100%;
}

#cat-lover:hover, #adventurer:hover {
    /*background-color: #c17171;*/
    background-color: white;
    color: #630525;
}
