* {
    font-family: 'Roboto Slab', serif;
   
}

img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
    padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
}


body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.box {
    border: 1px white solid;
    font-family: 'Roboto Slab', serif;
    height: 33%;
    font-size: 7vmin;
    color: white;
    background-color: #630525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
    perspective: 1px;
	transform-style: preserve-3d;
}

.container-fluid {
    height: 100%;
}

.row + .row {
   border-top:0;
}


.row {
    margin: 0;
    height: 100%;
}

#cat-lover:hover, #adventurer:hover, #debater:hover, #musician:hover, #programmer:hover, #writer:hover {
    /*background-color: #c17171;*/
    background-color: white !important;
    color: #630525 !important;
}

.details ul, .details{
    font-size: 20px !important;
    color: #630525;
    background-color: white;
    text-align: center;
    list-style-type: none;
    line-height: 200%;
    
}

.details {
    transition: all 1s ease;
}

.details:click {
    transform: rotateY(180deg);
}

html{
  display: block;
  width: 100%;
  height: 100%;
  
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}


.flip-container, .front, .back {
	width: inherit;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	height: 100px;

	position: absolute;
	
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(-180deg);
}